{% extends 'base.html' %}

{% block head %}
<a href="{{ url_for('characters') }}"><button class="button refresh">&#8635;</button></a>
<style>
    body {
        background-image: url('static/img/characters_background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>
{% endblock %}


{% block body %}
<div><h3>Adventure Time is filled with so many colorful characters! Here are a few of the main stars of the show.</h3></div>

<p>Detailed list of all characters coming soon...</p>

{% endblock %}